.header{
    height: 55px;
    display: flex;
    justify-content: space-between;
}


.search-bar{
            flex: 1;
            height: 36px;
            padding-left:10px;
            font-size: 16px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(192, 192,192);
            border-radius: 2px;
            box-shadow: inset 1px 2px rgba(0,0, 0, 0.05);
        }


.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}

.left-section{
    display: flex;
    align-items: center;
}

.hamburger-menu{
    margin: 0 24px;    
}

.hamburger-menu,.youtube-logo{
    height: 24px;    
}

.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-btn{
    height: 40px;
    width: 60px;
}

.voice-search-btn{
    height: 40px;
    width: 40px;
}

.right-section{
    background-color: lightblue;
    width: 200px;
}